.container{
    background: #2DA55F;
}

.navbar{
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.nav-text{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}